/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");



/* SETUP */
:root {
  /* Color Styles */
  --primary: #fbc257;
  --primary-light: #fccc73;
  --dark-brown: #341413;
  --gray-1: #798092;
  --gray-2: #e6e6ed;
  --white: #ffffff;

  /* Font size Desktop */
  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 400;
}


body {
  font-family: "Poppins", sans-serif;
}

/* BUTTON PRIMARY */
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}

.btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:hover {
  background-color: var(--primary-light);
}

/* BUTTON SECONDARY */

.btn-secondary {
  background-color: var(--gray-2);
  color: var(--gray-1);
}

.btn-secondary:focus {
  background-color: var(--white);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1);
}

.btn-secondary:hover {
  background-color: var(--white);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1);
}

/* NAVBAR */

.navbar-brand img {
  padding-right: 16px;
}

.navbar-brand span {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--dark-brown);
}

.navbar {
  padding: 49px 0;
}

a.nav-link {
  margin-right: 39px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  color: var(--dark-brown) !important;
}