<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Resume</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- AOS Animate CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- MiniLinkedIn CSS -->
    <style>
      /* Google Fonts */
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

      /* SETUP */
      :root {
        /* Color Styles */
        --primary: #1665b4;
        --primary-light: #186ec5;
        --dark-brown: #341413;
        --gray-1: #798092;
        --gray-2: #e6e6ed;
        --white: #ffffff;

        /* Font size Desktop */
        --header-1: 64px;
        --header-2: 48px;
        --header-3: 42px;
        --header-4: 32px;

        --text-medium: 18px;
        --text-regular: 16px;
        --text-light: 13px;

        /* Font weights */
        --font-weight-bold: 700;
        --font-weight-semi-bold: 600;
        --font-weight-medium: 500;
        --font-weight-regular: 400;
        --font-weight-light: 400;
      }

      body {
        font-family: "Poppins", sans-serif;
      }

      /* BUTTON PRIMARY */
      .btn {
        padding: 15px 25px;
        border-radius: 6px;
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
      }

      .btn-primary {
        background-color: var(--primary);
        border: none;
      }

      .btn-primary:focus {
        background-color: var(--primary-light);
      }

      .btn-primary:hover {
        background-color: var(--primary-light);
      }

      /* BUTTON SECONDARY */

      .btn-secondary {
        font-size: var(--text-medium);
        padding: 10px 15px;
        background-color: var(--gray-2);
        color: var(--gray-1);
        margin-top: 12px;
      }

      .btn-secondary:focus {
        background-color: var(--white);
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
        color: var(--gray-1);
      }

      .btn-secondary:hover {
        background-color: var(--white);
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
        color: var(--gray-1);
      }

      /* NAVBAR */

      .navbar-brand img {
        padding-right: 16px;
      }

      .navbar-brand span {
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
        color: var(--dark-brown);
      }

      .navbar {
        padding: 49px 0;
      }

      a.nav-link {
        margin-right: 39px;
        font-size: var(--text-regular);
        font-weight: var(--font-weight-regular);
        color: var(--dark-brown) !important;
      }

      /* Form */
      .text-headline-bold {
        color: var(--dark-brown);
        font-size: var(--header-3);
        font-weight: var(--font-weight-bold);
        line-height: 52px;
      }

      label {
        font-size: var(--text-medium);
        font-weight: var(--font-weight-medium);
        margin: 12px 0;
      }

      section {
        margin: 18px 0;
      }

      .btn-reset {
        background-color: var(--gray-2);
        border: none;
        margin-left: 12px;
      }

      .btn-reset:focus {
        background-color: var(--white);
      }

      .btn-reset:hover {
        background-color: var(--white);
      }
    </style>
  </head>
  <body>
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="/assets/img/mini-logo.png"
            alt="brand"
            width="70px"
            height="50px"
          />
          <span>MiniLinkedIn</span>
        </a>
        <button
          class="navbar-toggler shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bx bx-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="/"
              >MiniLinkedIn</a
            >
            <a class="nav-link" href="#">About</a>
          </div>
          <a href="#" class="btn btn-primary">SignIn</a>
        </div>
      </div>
    </nav>

    <!-- Form -->
    <form method="GET" action="/resume/preview">
      <!-- Overview Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div
                class="text-headline-bold"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                Overview
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- First Name -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputEmail4">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Email"
                />
              </div>
            </div>
            <!-- Last Name -->
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputPassword4">Last Name</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Password"
                />
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- email -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Email"
                />
              </div>
            </div>
            <!-- Last Name -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputPassword4">Phone</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="+1 25405221469"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Work Experience Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div
                class="text-headline-bold"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <i class="bx bxs-hard-hat"></i>
                Work Experience
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- Company -->
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputEmail4">Company</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- Job Title -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">Job Title</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Software Engineer"
                />
              </div>
            </div>
            <!-- Last Name -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputPassword4">Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Aug 2022 - Present"
                />
              </div>
            </div>
          </div>
          <!-- Description -->
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputPassword4">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="."
                />
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-6"></div>
            <div class="col-md-2 float-right">
              <button class="btn btn-secondary">
                <i class="bx bx-plus"></i> Add Job
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Education Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div
                class="text-headline-bold"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <i class="bx bxs-graduation"></i>
                Education
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- School -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">School</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="MIT"
                />
              </div>
            </div>
            <!-- Date -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputEmail4">Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="May 2019"
                />
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- Degree & Major -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">Degree & Major</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Bachelor of Science in Computer Engineering"
                />
              </div>
            </div>
            <!-- Date -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputEmail4">GPA</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="3.79"
                />
              </div>
            </div>
          </div>
          <!-- Add School Button -->
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-6"></div>
            <div class="col-md-2 float-right">
              <button class="btn btn-secondary">
                <i class="bx bx-plus"></i> Add School
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Projects Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div
                class="text-headline-bold"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <i class="bx bx-stats"></i>
                Projects
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- Project Name -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">Project Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="miniLinkedIn"
                />
              </div>
            </div>
            <!-- Date -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputEmail4">Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Fall 2023"
                />
              </div>
            </div>
          </div>
          <!-- Description -->
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputPassword4">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="."
                />
              </div>
            </div>
          </div>
          <!-- Add project Button -->
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-6"></div>
            <div class="col-md-2">
              <button class="btn btn-secondary">
                <i class="bx bx-plus"></i> Add Project
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Skills Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div
                class="text-headline-bold"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <i class="bx bx-stats"></i>
                Skills
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <!-- Skill Set -->
            <div class="col-md-5">
              <div class="form-group">
                <label for="inputEmail4">Skill</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Java"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="expertiseList">Expertise Level</label>
                <select class="form-select" aria-label="Default select example">
                  <option value="1">Beginner</option>
                  <option value="2">Intermediate</option>
                  <option value="3" selected>Advanced</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Add Skill Button -->
          <div class="row" data-aos="fade-up" data-aos-duration="1800">
            <div class="col-md-6"></div>
            <div class="col-md-2">
              <button class="btn btn-secondary">
                <i class="bx bx-plus"></i> Add Skill
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Validate Section -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
            <div class="col-md-1">
              <button type="reset" class="btn btn-reset">Reset</button>
            </div>
          </div>
        </div>
      </section>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- AOS Animate Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
